<div class="card text-center"id="cuerpoChat">
    <div class="card-header" id= "userchat">
     Usuari@
    </div>
    <div class="card-body" id="mensaje">
      <h5 class="card-title">texto del chat</h5>
      
    </div>
    <div class="card-footer text-muted" id="barraChat">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Escriba su Mensaje" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2">Enviar</button>
            </div>
          </div>
    </div>
  </div>
